.aboutpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px;
  height: 140vh;
  font-family: "Josefin Sans", sans-serif;
}

.aboutpage-header {
  margin-top: 40px;
  margin-bottom: 45px;
}

.aboutpage-title {
  font-size: 35px;
  color: rgb(245, 236, 236);
  position: absolute;
  right: 40%;
  z-index: 2;
}

.aboutpage-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: rgb(252, 148, 12);
  margin: 6px auto 0;
}

.aboutpage-title-background {
  font-size: 100px;
  color: rgba(80, 65, 76, 0.2);
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 30px;
}

.aboutpage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  max-width: 1000px;
  flex-direction: row;
}

.aboutpage-image {
  width: 300px;
  height: auto;
  margin-right: 100px;
}

.aboutpage-image-duplicate {
  position: absolute;
  opacity: 0.1;
  width: 400px;
  height: auto;
  margin-bottom: 200px;
  margin-left: 300px;
}

.aboutpage-text {
  margin-top: 100px;
}

.aboutpage-text-title {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  color: white;
}

.aboutpage-text-description {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.1px;
  margin-top: 30px;
  color: rgb(165, 161, 161);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: justify;
}

.first-paragraph {
  margin-bottom: 20px;
}

.second-paragraph {
  margin-bottom: 20px;
}

.whatsapp-button-container {
  margin-top: 70px;
  position: relative;
}

.whatsapp-button {
  display: inline-block; /* Add this line to create a flex container */
  margin-left: auto;
  margin-right: auto;
  animation: buttonshake 6s infinite;
  padding: 15px 60px;
  border: 1px solid rgb(250, 226, 182);
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

.whatsapp-button:hover {
  background-color: rgb(221, 124, 14);
  border: 1px solid rgb(221, 124, 14);
  color: white;
}

@keyframes buttonshake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.lily {
  color: orange;
}

/* Media query for mobile phones and tablets */
@media (max-width: 767px) {
  .aboutpage-container {
    position: relative;
  }

  .aboutpage-title {
    font-size: 18px;
    margin-top: -65px;
    right: 35%; /* Adjust the title position */
  }

  .aboutpage-title-background {
    /* Adjust the title background font size for smaller screens */
    font-size: 50px;
    margin-top: -50px;
    white-space: nowrap;
    position: absolute;
  }

  .aboutpage-content {
    /* Adjust the content layout for smaller screens */
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    position: relative;
  }

  .aboutpage-image {
    /* Adjust the image size for smaller screens */
    width: 200px;
    margin-right: 0;
    margin-bottom: 20px;
    opacity: 0.4;
    display: none;
  }

  .aboutpage-image-duplicate {
    /* Adjust the duplicate image size for smaller screens */
    width: 300px;
    margin-bottom: 100px;
    margin-left: 0;
    opacity: 0.25;
  }

  .aboutpage-text {
    /* Adjust the text margin for smaller screens */
    margin-top: 0;
    position: relative;
  }

  .aboutpage-text-title {
    /* Adjust the text title font size for smaller screens */
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  .aboutpage-text-description {
    /* Adjust the text description styles for smaller screens */
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    padding: 10px;
    position: absolute;
  }

  .whatsapp-button-container {
    /* Adjust the button container margin for smaller screens */
    margin-top: 380px;
    position: absolute;
  }

  .whatsapp-button {
    /* Adjust the button padding for smaller screens */
    padding: 10px 30px;
  }
}
